* {
  box-sizing: border-box;
  text-rendering: optimizelegibility; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f4f4f4; }

body {
  margin: 0;
  font-family: "effra", Helvetica, Arial, Tahoma, sans-serif;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  padding-top: 5em; }

::selection {
  background: #ca322c;
  color: #fff; }

.page {
  max-width: 66em;
  margin: 2.5em auto 0;
  padding: 1.618em; }

#question-block {
  margin: .5em 1em; }

#questions {
  margin: .5em 1em; }

.question {
  border: 1px solid #e0e0e0; }

.phone-number {
  font-weight: normal; }

.phone-number a,
.phone-number a:active,
.phone-number a:visited {
  color: #379aff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
dialog,
summary {
  display: block; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 1px solid gray;
  height: 1px; }

mark {
  background: #ff0;
  color: #656565; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

time {
  letter-spacing: 1px; }

[hidden] {
  display: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "effra", Helvetica, Arial, Tahoma, sans-serif;
  line-height: 1.2;
  color: #656565;
  margin-top: 1em;
  margin-bottom: .25em; }

.site-name {
  display: block;
  font-size: 1.125em;
  font-weight: normal;
  margin: 0;
  padding-left: 57px;
  line-height: 40px;
  height: 40px;
  background: url(../images/lullabot_logo.png) no-repeat left center;
  background-size: auto 100%; }
  @media screen and (min-width: 48em) {
    .site-name {
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      line-height: 50px;
      height: 50px; } }
  .site-name a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.list-title {
  font-size: 1.5em;
  text-transform: uppercase; }

.user-status h2 {
  margin-top: .25em; }

a, a:active, a:visited {
  color: #ca322c;
  text-decoration: none; }

@media screen and (min-width: 48em) {
  section.speakers,
  section.alternates {
    display: inline-block;
    width: 49%;
    vertical-align: top; }

  .alternates:after {
    content: ' ';
    display: table;
    clear: both; } }
hr {
  border-width: 0 0 3px 0;
  border-color: #e0e0e0; }

.global-header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  position: fixed;
  overflow: hidden;
  display: block;
  top: 0;
  width: 100%;
  max-width: 100%;
  background: white;
  border-top: 3px solid #ca322c;
  border-bottom: 2px solid #e0e0e0;
  z-index: 2; }
  @media screen and (min-width: 48em) {
    .global-header {
      padding: 1.125em 0; } }
  .global-header:before {
    content: ' ';
    display: table; }

@media screen and (min-width: 48em) {
  .header-content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 1.618em;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 68em; }
    .header-content .roster-status {
      float: right; } }

caja-v-body {
  padding: 0 !important; }

/*# sourceMappingURL=style.css.map */
