// Fonts
// ----------------------------------------------------------------------------
$sans-stack: 'effra', Helvetica, Arial, Tahoma, sans-serif;

// Colors
// ----------------------------------------------------------------------------
$primary: #424242;
$secondary: #828282;
$primary-link: #379aff;
$lullared: #ca322c;
