// Fonts
// ----------------------------------------------------------------------------
$sans-stack: "effra", Helvetica, Arial, Tahoma, sans-serif;
$serif-stack: "rooney-web", Georgia, "Times New Roman", "DejaVu Serif", serif;

// Colors
// ----------------------------------------------------------------------------
$primary: #656565;
$secondary: #828282;
$primary-link: #ca322c;
$lullared: #ca322c;
$border: #e0e0e0;