h1, h2, h3, h4, h5, h6 {
  font-family: $sans-stack;
  line-height: 1.2;
  color: $primary;
  margin-top: 1em;
  margin-bottom: .25em;
  -webkit-transition: font-size 0.25s ease-in 0s;
  -moz-transition: font-size 0.25s ease-in 0s;
  transition: font-size 0.25s ease-in 0s;
}

.site-name {
  display: block;
  font-size: 1.125em;
  font-weight: normal;
  margin: 0;
  padding-left: 68px;
  line-height: 40px;
  height: 40px;
  background: url(..images/lullabot_logo.png) no-repeat left center;
  background-size: auto 100%;

  @media screen and (min-width: 48em) {
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    line-height: 50px;
    height: 50px;
  }

  a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.list-title {
  font-size: 1.5em;
  text-transform: uppercase;
}

.user-status h2 {
  margin-top: .25em;
}
