@media screen and (min-width: 48em) {
  section.speakers,
  section.alternates {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  .alternates:after {
    content: ' ';
    display: table;
    clear: both;
  }
}
