// Applies the most basic settings for all elements and the html/body.

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
}

html {
  // Set fallback font family to sans-serif.
  font-family: sans-serif;
  // Prevent iOS text size adjust on orientation change without disabling
  // user zoom.
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #f4f4f4;
}

body {
  margin: 0;
  font-family: $sans-stack;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  padding-top: 5em;

}

::selection {
  background: $lullared;
  color: #fff;
}

// Layout type things. Should probably be moved.
.page {
  max-width: 66em;
  margin: 2.5em auto 0;
  padding: 1.618em;
}
#question-block {
  margin: .5em 1em;
}
#questions {
  margin: .5em 1em;
}
.question {
  border: 1px solid $border;
  background: white;
}
.phone-number {
  font-weight: normal;
}
.phone-number a,
.phone-number a:active,
.phone-number a:visited {
  color: $blue;
}
